<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= @job.source %>
</p>

<p>
  <b>Url:</b>
  <%= @job.url %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
